* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;

}

#user {
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;


}

.user--img {
    width: 445px;
    height: 610px;
    background-image: url("../img/profile/user--img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 15px 16px 0px #361921;


}

.user--details {
 display: flex;
 flex-direction: column;
 row-gap: 65px;
}



.user--detail .details--user .user--name {

    font-weight: 700;
    font-size: 50px;
    color: #361921;

}

.user--detail .details--user .user--profession {

    font-weight: 300;
    font-size: 32px;
    color: #000;

}



.user--detail .details-job p{
    font-weight: 200;
    font-size: 24px;
    color: #000;
}

.user--detail .details-job span {
    font-weight: 500;
}

#description{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #361921;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    row-gap: 30px;
    color: #fff;
}

.box{
 display: flex;
  justify-content: space-between;
  width: 600px;  

}



.box .box--username{

        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 10px;
       
}
.box .box--username hr{
    margin-top: 20px;
}

.box .box--username p{
    font-weight: 700;
    font-size: 30px;
       display: flex;
       text-align: center;

}



.text{
    margin-top: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 181%;
    color: #fff;

    text-align: center;
}

#slide--info{
    width: 100%;
    height: auto;
    position: relative;
}

#slide--info img{
    width: 1518px;
    height: 679px;

}

.icon_left{
    position: absolute;
    top: 291px;
    left: 353px;


}

.slide_text{
    position: absolute;
    top: 50px;
    left: 50px;
}

.icon_right{
    position: absolute;
    top: 427px;
    right: 304px;
}

.slide_text{
    position: absolute;
    top: 357px;
    left: 556px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;

}


.slide_text-1{
    position: absolute;
    top: 400px;
    left: 484px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;

}

#design_quotes{
    width: 100%;
    height: auto;
}

#design_quotes h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
}

.design_form{
    text-align: center;
    margin-right: 160px;
    position: relative;
    margin-bottom: 70px;
}
.design_form input{
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    width: 329px;
    margin-left: 168px;
    margin-bottom: 40px;
    outline: none;
}

.send_submit{
    width: 70px;
    height: 25px;
    background-color: #361921;
    position: absolute;
    top: 105px;
    right: 428px;
}

.send_submit a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 10px;

}

#lima_copyright{
    width: 100%;

}

.lima_design{
    width: 1518px;
    height: 46px;
    background-color: #361921;

}

.lima_design p{
    text-align: center;
    font-weight: 200;
    font-size: 10px;
    color: #fff;
    padding: 17px;
}


